coverage==4.3.4
mock>=1.0.1
flake8>=2.1.0
celery>=4.0
codecov>=2.0.0
html2text>=3.200.0
sendgrid>=3.0.0
django-tinymce>=2.7.0
django-anymail>=0.9
jsonfield==2.0.2
django-override-storage==0.3.0
psycopg2-binary==2.8.6
pre-commit>=2.15.0

# Additional test requirements go here
